@import url('navbar.css');

.tabela-personalizada{
    color: var(--fonte-cor-secundaria);
    background-color: rgb(37, 37, 37);
    text-align: center;
}

.titulo-consultas {
    color: var(--fonte-cor-primaria);
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

/* nome do bootstrap */
.table{
    --bs-table-striped-bg: none;
}

.tabela-personalizada > tbody > tr:nth-of-type(odd) >*{
    color: var(--fonte-cor-secundaria);
    background-color: rgb(65, 65, 65);
}

.tabela-personalizada>:not(caption)>*>*{
    border-bottom: solid 1px grey;
}

.inputs-edit {
    background-color: inherit;
    border: none;
    color: var(--fonte-cor-secundaria);
    text-align: center;
}

.inputs-edit:focus-visible {
    outline: none;
}

.acoes {
    display: flex;
    justify-content: space-evenly;
}

.acoes-excluir {
    color: red;
    background-color: inherit;
    border: none;
}

.acoes-editar {
    color: goldenrod;
    background-color: inherit;
    border: none;
}

.acoes-editar-confirma{
    color: greenyellow;
    background-color: inherit;
    border: none;
    padding-left: 0em;
    padding-right: 0.5em;
}

.modal-confirmacao{
    background-color: var(--fundo-secundario);
    color: var(--fonte-cor-secundaria);
}

.msg-informacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* ultima coluna não se meche fica fixa na tela */
td:last-child {
    position: sticky;
    right: 0;
    /* background-color: rgb(37, 37, 37); */
    background-image: linear-gradient(to left, #121214,rgb(92, 68, 8));
    z-index: 1;
}

/* ultima coluna não se meche fica fixa na tela */
th:last-child {
    position: sticky;
    right: 0;
    /* background-color: rgb(37, 37, 37); */
    background-image: linear-gradient(to left, #121214,rgb(92, 68, 8));
    z-index: 1; 
}

::-webkit-scrollbar{
    background-color: white;
    border-radius: 1em;
    cursor: pointer;
    height: 0.5em;
    width: 0.5em;
}

/* Estilo do botão de rolagem quando estiver sendo arrastado */
::-webkit-scrollbar-thumb {
    background-color: #5555559f;
    border-radius: 1em;
}

/* Estilo do botão de rolagem quando estiver sendo arrastado */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    border-radius: 1em;
}